* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: gold;
    align-items: center;
}

main {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

button, input [type="color"], label {
    cursor: pointer;
}

button, input [type="text"] {
    margin: 5px;
    padding: 10PX;
    font-size: 16;
    outline: none;
}

.input-cor {
    margin: 5px;
    padding: 10PX;
}
